<% include partials/header %>

<h1><%= airline.name %></h1>

<img src="<%= airline.image %>">

<p><%= airline.description %></p>

<% airline.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }); %>

<% include partials/footer %>