<% include ../partials/header %>

        <h1 class="top-form-header">Edit <%= airline.name %></h1>
        <div class="form-width">
            <form action="/airlines/<%= airline._id %>/?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="airline[name]" value="<%= airline.name %>">
                </div>
                 <div class="form-group">
                    <input class="form-control" type="number" name="airline[rating]" value="<%= airline.rating %>" min="0.1" max="5.0" step="0.1">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="airline[image]" value="<%= airline.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="airline[description]" value="<%= airline.description %>">
                </div>
                <div class="form-group">
                   <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/airlines">Go Back</a>
        </div>

<% include ../partials/footer %>