<% include ../partials/header %>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail profile">
                <h1 class="caption-full"><%= user.firstName + " " + user.lastName %></h1>
                <img src="<%= user.avatar %>" alt="user profile image">
                <hr>
                <p>Choosen nickname: <%= user.username %></p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="thumbnail profile-airlines">
                <h3>Added airlines:</h3>
                <hr>
                <ul>
                    <% airlines.forEach(function(airline){ %>
                    <li><a href="/airlines/<%= airline.id %>"><%= airline.name %></a></li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>

<% include ../partials/footer %>